.DS_Store
node_modules
npm-debug.log
.history
.idea
**/build/
**/dist/
build-old/
out/
dependencyGraph.json
source/_meta/_head.mustache
source/_meta/_foot.mustache

!e2e/.env
.env
**/*/.env

# vim files
*.swp
*.swo
tags
ctags.tmp
[._]*.un~

.cache

**/test-results/
**/recordings/

/scripts/public/
/scripts/gh-pages.tar.gz
!/scripts/tests/fixtures/out
/astro.iml
